.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.logo {
	width: 60%;
	margin: 10px auto;
	height: 300px;
}

.islandsInfo {
	border: 1px solid black;
	padding: 5px;
}

p {
	margin: 2px;
}
