.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 10px auto;
}

h3 {
	margin: 5px auto;
}

img {
	border: 1px solid rgb(201, 205, 207);
	margin-bottom: 0px;
	height: 100%;
}
.row {
	margin: 0 auto;
	height: 80px;
}